USE [TREINAMENTO]
GO
/****** Object:  StoredProcedure [dbo].[REL_CLIENTES]    Script Date: 07/08/2025 15:01:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<EDUARDO LUCAS LEMES JANUARIO>
-- Create date: <07/08/25>
-- Description:	<Procedure de relatorio para clientes ativos>
-- =============================================
ALTER PROCEDURE [dbo].[REL_CLIENTES] 
	@INATIVO BIT

AS
BEGIN
	SELECT NOME,
		   ISNULL(ENDEREÇO, 'INEXISTENTE') + ' ' + ISNULL(NUMERO, '') + '  ' + ISNULL(COMPLEMENTO, '') AS ENDERECO,
		   (SELECT TOP 1 DADOSCONTATO FROM CLIENTECONTATOS AS CT WHERE C.ID = CT.CLIENTEID AND TIPOCONTATO LIKE '%FONE%') AS CONTATO,
		   CIDADE
	  FROM CLIENTE AS C
	  WHERE C.INATIVO = ISNULL(@INATIVO, C.INATIVO)
END
